#menu {
	margin-top: 16px;
	background: #fff;
	padding: 24px 24px 20px;
	.card-title {
		text-align: center;
		font-size: 20px;
		color: #2c3038;
		margin-bottom: 18px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -16px;
			left: 50%;
			margin-left: -26px;
			width: 50px;
			border-top: 4px solid #e0e0e0;
			display: block;
		}
	}
	.menu-item {

		.menu-title {
			font-size: 19px;
			line-height: 2.0;
			text-align: center;
			color: #21242a;
			margin-top: 50px;
		}
		p {
			font-size: 18px;
			line-height: 1.6;
			text-align: center;
			color: #76797e;
		}
	}

}